package {{ .Package }}

import (
	"bytes"
	"context"
	"encoding/json"
	"fmt"
	"io"
	"net/http"
	"net/url"
)

// This is needed to have bytes imported when non-body requests are generated.
var _ = bytes.Buffer{}

// New{{ .ClientName }} creates a new {{ .ClientName }} http client.
func New{{ .ClientName }} (baseurl string) (*{{ .ClientName }}, error) {
	parsed, err := url.Parse(baseurl)
	if err != nil {
		return nil, fmt.Errorf("could not parse base url: %w", err)
	}

	return &{{ .ClientName }}{
		baseURL: parsed,
		httpClient: http.DefaultClient,
	}, nil
}

type {{ .ClientName }} struct {
  baseURL *url.URL
  httpClient *http.Client
}

