type Config struct {
	Default QOS
}

// QOS stands for quality-of-service configuration.
type QOS struct {
	Timeout time.Duration
}

func (q *QOS) context(ctx context.Context) (context.Context, context.CancelFunc) {
	if q.Timeout == 0 {
		return ctx, func() {}
	}

	return context.WithTimeout(ctx, q.Timeout)
}
