// DefaultConfig returns default configuration.
func DefaultConfig() Config {
	return Config{
		{{- range $m := .Methods }}
		{{ $m }}: config.QOS{},
		{{ end }}
	}
}

// Config controls service configuration.
type Config struct {
	{{- range $m := .Methods }}
	{{ $m }} config.QOS
	{{ end }}
}

