type {{ .Request.Name }} struct {
	// Headers is a list of additional headers.
	Headers map[string]string

	{{ with .Request.Body }}
	// Body is a request body.
	Body *{{ .Name }}
	{{- end -}}
}

type {{ .Response.Name }} struct {
	Headers map[string][]string

	{{ range .Response.Codes }}
	Body{{ .Code }} *{{ .Name }}
	{{ end }}
}

func (cl *{{ .Client }}) {{ .Name }}(
	ctx context.Context,
	request *{{ .Request.Name }},
) (*{{ .Response.Name }}, error) {
	qos := cl.qos("{{ .Method }} {{ .Path }}")

	var response *{{ .Response.Name }}

	err := retry.OnError(ctx, qos.Retry, func(ctx context.Context) error {
		var err error

		response, err = cl.do{{ .Name }}(ctx, qos, request)

		return err
	})
	if err != nil {
		return nil, fmt.Errorf("could not request: %w", err)
	}
	
	return response, nil
}

func (cl *{{ .Client }}) do{{ .Name }}(
	ctx context.Context,
	qos config.QOS,
	request *{{ .Request.Name }},
) (*{{ .Response.Name }}, error) {
	ctx, cancel := qos.Context(ctx)
	defer cancel()

	url := cl.baseURL.JoinPath("{{ .Path }}").String()

	{{ if .Request.Body }}
	body := &bytes.Buffer{}
	if err := json.NewEncoder(body).Encode(&request.Body); err != nil {
		return nil, fmt.Errorf("could not encode request body: %w", err)
	}
	{{ else }}
	var body io.Reader
	{{ end }}


	req, err := http.NewRequestWithContext(ctx, "{{ .Method }}", url, body)
	if err != nil {
		return nil, fmt.Errorf("could not prepare request: %w", err)
	}

	req.Header.Add("Accept", "application/json")
	req.Header.Add("Content-Type", "application/json")

	for key, value := range request.Headers {
		req.Header.Set(key, value)
	}

	resp, err := cl.httpClient.Do(req)
	if err != nil {
		return nil, fmt.Errorf("could not do http request: %w", err)
	}
	defer resp.Body.Close()

	if resp.StatusCode >= http.StatusBadRequest {
		raw, err := io.ReadAll(resp.Body)
		if err != nil {
			return nil, fmt.Errorf("could not read response with status %d: %w", resp.StatusCode, err)
		}

		return nil, fmt.Errorf("got response with status %d: %q", resp.StatusCode, string(raw))
	}

	response := &{{ .Response.Name }}{
		Headers: resp.Header,
	}

	{{ range .Response.Codes }}
	if resp.StatusCode == {{ .Code }} {
		var body {{ .Name }}
		if err := json.NewDecoder(resp.Body).Decode(&body); err != nil {
			return nil, fmt.Errorf("could not decode response [%d]: %w", resp.StatusCode, err)
		}

		response.Body{{ .Code }} = &body

		return response, nil
	}
	{{ end }}

	return nil, fmt.Errorf("unhandled response code: %d", resp.StatusCode)
}

