// MethodConfig controls method behavior.
type MethodConfig struct {
	Timeout time.Duration
}

func (cfg *MethodConfig) context(ctx context.Context) (context.Context, context.CancelFunc) {
	if cfg.Timeout == 0 {
		return ctx, func() {}
	}

	return context.WithTimeout(ctx, cfg.Timeout)
}

// ConfigFunc returns configuration.
type ConfigFunc func() Config

// Config contains method configurations.
type Config struct {
	{{- range .Paths }}
	{{ .CanonicalName }} MethodConfig
	{{ end }}
}

// DefaultConfig returns default configuration.
//
// TODO(max): Handle default config creation.
func DefaultConfig() Config {
	return Config{}
}


